.calculatorScreen{
    min-height: 120px;
    max-height: 1000px;
    width: 100%;
    background-color: #383838;
    color: #FFFDD0;
    font-size: 75px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    border-bottom: 2.5px solid orange;
    font-family: 'Bangers', cursive;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.calculator{
    height: 600px;
    width: 370px;
    border: 5px solid orange;
    border-radius: 10px;
    background-color:#28282B;
}

button{
    height: 75px;
    width: 75px;
    margin: 5px;
    border: 2px solid orange;
    background-color: #FFFDD0;
    color: #28282B;
    font-size: 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

button:hover{
    background-color: #4666FF;
    transition: 0.3s;
    transform: translateY(-2px);
}



.keyboard{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 79%;
}

.equals{
    height: 75px;
    width: 160px;
}

